{% extends "template.html" %}

{% block js %}
	<script type="text/javascript" src="{{ url_for('static', filename = 'fm.js') }}"></script>
{% endblock %}

{% block vars %}
{% endblock %}

{% block content %}
	<br>
	<h2>Frequency Modulation</h2>
	<div class="row">
		<h4>
			The last step will make use of the <b>control voltage</b> patch point on the oscillator
		</h4>
		<h5>
			○ A control voltage is any signal used to modify the parameters of a module. 
			In this case a signal entering the CV patch point modifies the <b>frequency of the oscillator</b>.
		</h5>
		<h5>
			○ When a <b>low voltage</b> enters the CV patch point it <b>lowers the the frequency</b> of the oscillator.
			Similarly, a <b>high voltage</b> creates a <b>highier frequency</b>.
		</h5>
		<h5>
			○ When we use a periodic signal such as a sine wave to control the frequency of a different oscillator that is called <b>frequency modulation</b>.
			It can be visualized here:
		</h5>
		<img src="{{url_for('static', filename='img/fm.gif')}}" style="display: block; margin-left: auto; margin-right: auto; padding-top: 10px;"/>
		<h5>
			○ The <b>modulator</b> is modifying the frequency of the <b>carrier</b> which creates the result displayed at the bottom.
			Notice how when the modulator has low values the output is streched wide (low frequency) and when the modulator has high values the output
			is compressed (high frequency).
		</h5>
	</div>
	<div class="row">
		<div class="col">
			<div class="row" id="pt1">
				<b>○ Volume Knob</b>
				<div class="full-width" id="s0"><b>Turn this dial</b> to increase the amplitude of the carrier frequency</div>
			</div>
			<div class="row" id="pt1">
				<b>○ Control Voltage Patch Point</b>
				<div class="full-width">Use the first oscillator to modulate the frequency of the second</div>
				<div class="full-width"><i id="s1">▹ Click sine wave patch point</i></div><br>
				<div class="full-width"><i id="s2">▹ Click CV patch point</i></div>
			</div>
			<div class="row" id="pt2">
				<div class="full-width"><b>○ Experiment with Knobs</b></div>
				<div class="full-width"><i id="s3">▹ modulation depth</i></div>
				<div class="full-width"><i id="s4">▹ modulation frequency</i></div>
				<div class="full-width"><i id="s5">▹ carrier frequency</i></div>
			</div>
		</div>
		<!-- Modulator -->
		<div class="col" style="padding-left: 10%;">
			<div class="module">
				<div class="freqDial" id="mfreq"></div>
				<div class="ampDial" id="mcv"></div>
				<img src="{{url_for('static', filename='img/osc.png')}}"/>
				<button class="sin" id="mSinPoint"></button>
				<button class="cv" id="mCVPoint"></button>
			</div>
			<div id="moscil" style="padding-top: 40px;"></div>
		</div>
		<!-- Carrier -->
		<div class="col">
			<div class="module">
				<div class="freqDial" id="cfreq"></div>
				<div class="ampDial" id='ccv'></div>
				<img src="{{url_for('static', filename='img/osc.png')}}"/>
				<button class="sin" id="cSinPoint"></button>
				<button class="cv" id="cCVPoint"></button>
			</div>
			<div id="coscil" style="padding-top: 40px;"></div>
		</div>
		<!-- VCA -->
		<div class="col">
			<div class="module">
				<div class="cvAttDial" id="cvAttDial"></div>
				<div class="baseDial" id="baseDial"></div>
				<div class="volDial" id='volDial'></div>
				<img src="{{url_for('static', filename='img/vca.png')}}"/>
				<button class="in" id="inPoint"></button>
			</div>
			<div id="masteroscil" style="padding-top: 40px;"></div>
		</div>
	</div>
	<br>
	<button id="backButton" class="btn btn-dark">Back</button>
	<button id="nextButton" class="btn btn-dark">Next</button>
{% endblock %}