{% extends "template.html" %}

{% block js %}
	<script type="text/javascript" src="{{ url_for('static', filename = 'fm.js') }}"></script>
{% endblock %}

{% block vars %}
{% endblock %}

{% block content %}
	<br>
	<div> 
		<div class="text-center">
			<h2>Frequency Modulation</h2>
		</div>
		<br>
		<p>
			We’re almost ready to patch our synth but before we do that we have to talk about what FM synthesis is.
			FM synthesis is when on		<!-- live reload -->
			e oscillator modulates another oscillator at a variety of rates to create an infinite amount of timbral variation. 
			This can be seen here:
		</p>
		<p>
			Insert fm gif here
		</p>
		<p>
			It sounds like this
		</p>
		<p>
			Insert fm sound file here
		</p>
	</div>
	<br>
	<button id="backButton" class="btn btn-dark">Back</button>
	<button id="nextButton" class="btn btn-dark">Next</button>
{% endblock %}