{% extends "template.html" %}

{% block js %}
	<script type="text/javascript" src="{{ url_for('static', filename = 'fm.js') }}"></script>
{% endblock %}

{% block vars %}
{% endblock %}

{% block content %}
	<br>
	<h2>Voltage Control Amplifier</h2>
	<div class="row">
		<h4>
			The last step will make use of the <b>control voltage</b> patch point on the oscillator
		</h4>
	</div>
	<div class="row">
		<div class="col">
			<div class="row" id="pt1">
				<b>○ Control Voltage Patch Point</b>
				<br>
				This outputs a sine wave signal. 
				Use this to connect the oscillator to the VCA.
				<div class="full-width"><i id="s1">▹ Click sine wave patch point</i></div><br>
				<div class="full-width"><i id="s2">▹ Click CV patch point</i></div>
			</div>
			<div class="row" id="pt2">
				<div class="full-width"><b>○ Experiment with Knobs</b></div>
				<div class="full-width"><i id="s3">▹ modulation frequency</i></div>
				<div class="full-width"><i id="s4">▹ modulation depth</i></div>
				<div class="full-width"><i id="s5">▹ carrier frequency</i></div>
			</div>
		</div>
		<!-- Modulator -->
		<div class="col" style="padding-left: 10%;">
			<div class="module">
				<div class="freqDial" id="mfreq"></div>
				<div class="ampDial" id="mcv"></div>
				<img src="{{url_for('static', filename='img/osc.png')}}"/>
				<button class="sin" id="mSinPoint"></button>
				<button class="cv" id="mCVPoint"></button>
			</div>
			<div id="moscil" style="padding-top: 40px;"></div>
		</div>
		<!-- Carrier -->
		<div class="col">
			<div class="module">
				<div class="freqDial" id="cfreq"></div>
				<div class="ampDial" id='ccv'></div>
				<img src="{{url_for('static', filename='img/osc.png')}}"/>
				<button class="sin" id="cSinPoint"></button>
				<button class="cv" id="cCVPoint"></button>
			</div>
			<div id="coscil" style="padding-top: 40px;"></div>
		</div>
		<!-- VCA -->
		<div class="col">
			<div class="module">
				<div class="cvAttDial" id="cvAttDial"></div>
				<div class="baseDial" id="baseDial"></div>
				<div class="volDial" id='volDial'></div>
				<img src="{{url_for('static', filename='img/vca.png')}}"/>
				<button class="in" id="inPoint"></button>
			</div>
			<div id="masteroscil" style="padding-top: 40px;"></div>
		</div>
	</div>
	<br>
	<button id="backButton" class="btn btn-dark">Back</button>
	<button id="nextButton" class="btn btn-dark">Next</button>
{% endblock %}