{% extends "template.html" %}

{% block js %}
	<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>
{% endblock %}

{% block vars %}
{% endblock %}

{% block style %}
canvas {
	border-radius: 12px;
  }
{% endblock %}

{% block content %}
	<br>
	<div class="col">
		<div class="text-center">
			<h2> Frequency Modulation Tutorial </h2> 
			<br>
			Learn how to create frequency modulation synthesis with a modular synthesizer
			<br>
			Click to hear what that sounds like:
			<br>
			<div id="masteroscil" style="padding-top: 20px;"></div>
			<!-- <br> -->
			♫ Turn Sound On ♫
			<br>
			<br>
			<button id="tutorialButton" class="btn btn-dark">Get Started</button>
		</div>
	</div>
{% endblock %}