{% extends "template.html" %}

{% block js %}
	<script type="text/javascript" src="{{ url_for('static', filename = 'mod.js') }}"></script>
{% endblock %}

{% block vars %}
{% endblock %}

{% block content %}
	<br>
	<div class="col"></div>
		 <div class="left-pad">
			<h2> What's a modular synthesizer? </h2> 
			A modular synthesizer is an electronic instrument composed of separate <b>modules</b>, each performing their own functions
			<br>
			Modules are connected to each other using <b>patch cables</b>
			<br>
			<br>
			<img src="{{url_for('static', filename='img/synth.jpg')}}"/>
			<br>
			<br>
			For this tutorial we will make use of two types of modules
			<br>
			<br>
			<button id="nextButton" class="btn btn-dark">Modules</button>
		 </div>
	</div>
{% endblock %}