{% extends "template.html" %}

{% block js %}
	<script type="text/javascript" src="{{ url_for('static', filename = 'mod2.js') }}"></script>
{% endblock %}

{% block vars %}
{% endblock %}

{% block content %}
	<br>
	<div> 
		<h2> Modular Synthesizers </h2> 
		<br>
		<p>
			A modular synthesizer is an electronic instrument composed of separate modules that each perform different functions. Modules are connected to each other using patch cables.
		</p>
		<p>
			Insert image here
		</p>
		<p>
			This tutorial will focus on patching modules together to create the FM synthesis sound you heard before.
		</p>
		<p>
			To do this we will need to make use of two different modules.
		</p>
	</div>
	<br>
	<button id="nextButton" class="btn btn-primary">Next</button>
	<button id="backButton" class="btn btn-primary">Back</button>
{% endblock %}