{% extends "template.html" %}

{% block js %}
	<script type="text/javascript" src="{{ url_for('static', filename = 'vca.js') }}"></script>
{% endblock %}

{% block vars %}
{% endblock %}

{% block content %}
	<br>
	<div class="text-center">
		<h2>Voltage Control Amplifier</h2>
	</div>
	<br>
	<div class="row">
		<h4>This module can perform many functions but for the purpose of this tutorial we are only interested in <b>two</b> aspects:</h4>
	</div>
	<div class="row">
		<div class="col">
			<div class="row" id="pt1">
				<b>○ Input Patch Point</b>
				<br>
				On this page we've patched a simple sine wave into the input
			</div>
			<div class="row" id="pt2">
				<b>○ Volume Knob</b>
				<br>
				<p>This will adjust the amplitude of the input signal. <b>Turn this dial</b> to hear and see its effect.</p>
			</div>
		</div>
		<div class="col" style="padding-left: 10%;">
			<div class="module">
				<div class="cvAttDial" id="cvAttDial"></div>
				<div class="baseDial" id="baseDial"></div>
				<div class="volDial" id='volDial'></div>
				<img src="{{url_for('static', filename='img/vca.png')}}"/>
				<button class="in" id="inPoint"></button>
			</div> 
		</div>
		<div class="col">
			<div id="masteroscil" style="padding-top: 40px;"></div>
		</div>
	</div>
	<br>
	<button id="backButton" class="btn btn-dark">Back</button>
	<button id="nextButton" class="btn btn-dark">Next</button>
{% endblock %}