{% extends "template.html" %}

{% block js %}
	<script type="text/javascript" src="{{ url_for('static', filename = 'vca.js') }}"></script>
{% endblock %}

{% block vars %}
{% endblock %}

{% block content %}
	<br>
	<div> 
		<h2> Module 2: Voltage Control Amplifier</h2> 
		<br>
		<p>
			This module adjusts the signal output which is the signal that’s sent directly to your speakers.
		</p>
		<p>
			Insert vca and oscilloscope here
		</p>
		<p>
			Turn sound on!
		</p>
	</div>
	<br>
	<button id="nextButton" class="btn btn-primary">Next</button>
	<button id="backButton" class="btn btn-primary">Back</button>
{% endblock %}