{% extends "template.html" %}

{% block js %}
	<script type="text/javascript" src="{{ url_for('static', filename = 'vco.js') }}"></script>
{% endblock %}

{% block vars %}
{% endblock %}

{% block content %}
	<br>
	<h2>Oscillator</h2>
	<div class="row">
		<h4>Much like the VCA module we will only make use of a number of the oscillator's features:</h4>
	</div>
	<div class="row">
		<div class="col">
			<div class="row" id="pt1">
				<b>○ Sine Wave Patch Point</b>
				<br>
				This outputs a sine wave signal. Use this to connect the oscillator to the VCA:
				<div id="s1"><i>▹ Click sine wave patch point</i></div>
				<div id="s2"><i>▹ Click VCA input patch point</i></div>
			</div>
			<div class="row" id="pt2">
				<b>○ Frequency Knob</b>
				<div class="full-width">This will adjust the sine wave frequency</div>
				<div class="full-width" id="pt2"><b>Turn this dial</b> to hear and see its effect</div>	
			</div>
		</div>
		<div class="col" style="padding-left: 10%;">
			<div class="module">
				<div class="freqDial" id="cfreq"></div>
				<div class="ampDial" id='ccv'></div>
				<img src="{{url_for('static', filename='img/osc.png')}}"/>
				<button class="sin" id="cSinPoint"></button>
				<button class="cv" id="cCVPoint"></button>
			</div>
		</div>
		<div class="col" style="padding-left: 10%;">
			<div class="module">
				<div class="cvAttDial" id="cvAttDial"></div>
				<div class="baseDial" id="baseDial"></div>
				<div class="volDial" id='volDial'></div>
				<img src="{{url_for('static', filename='img/vca.png')}}"/>
				<button class="in" id="inPoint"></button>
			</div> 
		</div>
		<div class="col">
			<div id="masteroscil" style="padding-top: 40px;"></div>
		</div>
	</div>
	<br>
	<button id="backButton" class="btn btn-dark">Back</button>
	<button id="nextButton" class="btn btn-dark">Next</button>
{% endblock %}